<form ng-submit="save()" name="cardForm">
    <h3>{{(card.Id == 0) ? 'New card' : 'Edit card'}}</h3>
    <hr />

    <!-- front-->
    <div class="form-group">
        <h4>Front:</h4>
        <textarea ng-model="card.Front.Content" placeholder="Required" class="form-control input-lg"
                  required></textarea>
    </div>
    <hr />

    <!-- back -->
    <div class="form-group">
        <h4>Back:</h4>
        <textarea ng-model="card.Back.Content" placeholder="Required" class="form-control input-lg"
                  required></textarea>
    </div>

    <div class="pull-right">
        <button class="btn btn-primary" type="submit">Ok</button>
        <a class="btn btn-default" href="#/decks/{{card.DeckId}}">Close</a>
    </div>
</form>