<h3>Cards in "{{ deck.Name }}"</h3>
<div class="panel panel-default">
    
    <div class="panel-heading">{{deck.Cards.length}} cards.</div>
    <div class="panel-body">
        <div class="pull-right">
            <a href="#cards-new/{{deck.Id}}" class="btn btn-primary">Add card</a>
        </div>
        <table class="table table-striped" ng-if="deck.Cards.length > 0">
            <thead>
                <tr>
                    <td width="30"><strong>#</strong></td>
                    <td><strong>card</strong></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr id="card{{card.Id}}" ng-repeat="card in deck.Cards" ng-click="selectCard(card.Id)">
                    <td width="30">
                        {{$index+1}}

                    </td>
                    <td>
                        <div id="cardFront{{card.Id}}">
                            <p>{{card.Front.Content}}</p>
                        </div>
                        <div id="cardBack{{card.Id}}" style="display:none">
                            <hr />
                            <pre>{{ card.Back.Content }}</pre>
                        </div>

                    </td>
                    <td>
                        <div class="pull-right">
                            <a href="#/cards-edit/{{card.Id}}" class=""><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                            <a href="#"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
        <div ng-if="selectedDeck.Cards.length == 0">
            No cards in this deck.
        </div>
    </div>
</div>