<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>kt client</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <link href="../Content/styles.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" rel="stylesheet" />
</head>
<body ng-app="ktApp">

    <script src="../Scripts/jquery-1.9.1.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <script src="../Scripts/bootbox.js"></script>
    <script src="../Scripts/bootstrap-markdown.js"></script>

    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/angular-resource.js"></script>
    <script src="../Scripts/angular-route.js"></script>

    <!--toastr-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.js"></script>

    <!-- modules -->
    <script src="../Scripts/app/app.js"></script>

    <!-- controllers -->
    <script src="../Scripts/app/controllers/controllers.js"></script>

    <!-- services -->
    <script src="../Scripts/app/services/DecksService.js"></script>
    <script src="../Scripts/app/services/CardsService.js"></script>



    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <a class="navbar-brand" href="#">KT Client</a>

            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="collapse navbar-collapse navHeaderCollapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Home</a></li>

                </ul>
            </div>
        </div>
    </div>

    <!-- Decks -->
    <div class="container">
        <div class="col-md-4" ng-controller="DeckListCtrl">
            <div class="panel panel-primary ">
                <div class="panel-heading">Decks</div>
                <div class="panel-body" id="decksContainer">

                    <!-- repeating for each deck-->
                    <div class="row" style="margin:1px" ng-repeat="deck in decks | orderBy: '+Name'">

                        <a class="deck pull-left" href="#/decks/{{deck.Id}}">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                            <span class="deck">{{ deck.Name }}</span>
                        </a>


                        <div class="pull-right">
                            <a class=""
                               href="#decks-edit/{{deck.Id}}"
                               data-toggle="modal"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                            <a class=""
                               ng-click="delete(deck.Id)"
                               ng-confirm-click="Are you sure you want to delete this deck?"
                               href="#"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                            <a class=""
                               ng-click="viewDeck(deck.Id)"
                               href="#{{deck.Id}}"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
                        </div>
                    </div>

                    <hr />

                    <a href="#decks-new" class="btn btn-primary">New deck</a>
                </div>
            </div>
        </div>
        <div class="deckViewArea col-md-8" ng-view>

        </div>
    </div>
    




    <!-- confirmation dialog -->
    <div id="confirm" class="modal hide fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Are you sure?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">Yes</button>
                    <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                </div>
            </div>
        </div>
    </div>




    <br />
    <br />
    <br />
<!-- footer-->
<div class="navbar navbar-default navbar-fixed-bottom" role="navigation">

    <div class="container">
        <p class="navbar-text pull-left">look there's a footer!</p>
        <a class="navbar-btn btn-danger btn pull-right" href="http://youtube.com">link to yt</a>
    </div>
</div>




</body>
</html>
